<h1 class="page-header">{{title}}</h1>
<ul class="list-group">
  <a class="list-group-item" ng-repeat="item in data" href="#">
  <span class="badge">{{item.rating.average}}</span>
      <div class="media">
      <div class="media-left">
          <img class="media-object" ng-src="{{item.images.small}}" alt="{{item.title}}">
      </div>
      <div class="media-body">
        <h2 class="media-heading">{{item.title}}</h2>

        <p>类型：{{item.genres.join('、')}}</p>
        <p>主演：<span ng-repeat="cast in item.casts">{{cast.name}} <span ng-if="!$last">、</span></span></p>
        <p>导演：<span ng-repeat="director in item.directors">{{director.name}} <span ng-if="!$last">、</span></span></p>
      </div>
    </div>
</a>
 
</ul>
<div id="loading" ng-show="loading">
  <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>

</div>



<div ng-if="!loading">
  
  <nav>
  <ul class="pager">
    <li ng-class="{disabled:currentPage==1}" ><a href="javascript:void(0)" ng-click="goPage(1)">首页</a></li>
    <li ng-class="{disabled:currentPage==1}" ><a href="javascript:void(0)" ng-click="goPage(currentPage-1)">上一页</a></li>
    <li ng-class="{disabled:currentPage==pages}" ><a href="javascript:void(0)" ng-click="goPage(currentPage+1)">下一页</a></li>
    <li ng-class="{disabled:currentPage==pages}" ><a href="javascript:void(0)" ng-click="goPage(pages)">最后一页</a></li>
  </ul>
</nav>

<p >共 {{total}} 条, 共{{pages}}页,当前第{{currentPage}}页  {{catgory}}</p>
</div>


